

<div class= "content">
      <h1> Written Demand for Payment of Past Due Rent </h1>
      <div class="row">
        <div class="col-6 text-left">
                <p> {{form_9.notice_date}} </p>
                <p> RE Premises at:
                <p> {{form_5.tentant_street_address}}, {{form_5.tentant_city}}, {{form_5.tentant_state}}, {{form_5.tentant_zip_code}} </p>
                <p> {{form_5.tentant_street_address_2}} </p>
                
                
        </div>
      </div>
      
      <div class="row">
      <p> TO: </p>
      <p> {{form_4.tentant_name}} </p>
      <p> Take notice that you own the following in rent: </p>
      <p> ${{form_7.rent_amount}} <p>
      <p> 
      If you do not pay the total rent due on or before the expiration of 
      fourteen (14) days from the date of the service of this notice, 
      or surrender up the possession of said premises to the landlord, 
      the landlord will commence summary proceedings to evict you.
    </p>
    <p> {{form_1.landlord_name}} </p>
     <p> {{form_2.landlord_street_address}}, {{form_2.landlord_city}}, {{form_2.landlord_state}}, {{form_2.landlord_zip_code}} </p>


</div>