{% load crispy_forms_tags %}
<form hx-post= "{% url 'form_9' %}">

{% if errors %} {{errors}} {%endif%}
<div class= "content w-400">

{{form|crispy}}
</div>

<div class="text-right mt-10 w-400 mw-full">

            
            <button 
            type= "button"
            class = "btn btn-primary" 
            {% if doc_type == rent %}
            hx-get= {% url 'form_8' %} 
            {% else %}
            hx-get= {% url 'form_7' %} 
            {% endif %}
            > &larr; Previous 
            </button>

            <button 
            type= "submit" class="btn btn-primary"
           
            > Next &rarr; </button>
</div>  
</form>
<div 
hx-trigger="load"
hx-target="#table"
hx-swap="outerHTML"
hx-get="{% url 'update_table' 8 %}"
>
</div>