{% load crispy_forms_tags %}
{% if errors %} {{errors}} {% endif %}
<div class="content w-400 mw-full">
<h3> Landlord's Contact Info </h3>
<form hx-post= "{% url 'form_4' %}">
{% if errors %} {{errors}} {% endif %}
{{form|crispy}}

<div class="text-right w-400 mw-full">
           <button 
            type= "button" 
            class="btn btn-primary"
            hx-get = " {% url 'form_3' %}"
            > &larr; Previous 
            </button>

           <button 
            type= "submit" class="btn btn-primary"
           
            > Next &rarr; </button>
        </div>
</form>
</div>

<div 
hx-trigger="load"
hx-target="#table"
hx-swap="outerHTML"
hx-get="{% url 'update_table' 3 %}"
>
</div>