{% load crispy_forms_tags %}

<div class= "content w-400">
<h3> Signature Page </h3>
<p> You may choose to electronically sign below or sign after after printing the form </p>
</div>

<div class="text-right mt-10 w-400 mw-full">
           <button 
            type= "button"
            class = "btn btn-primary" 
            _= "on click show #form-9-holder then hide #form-10-holder"
            > &larr; Previous 
            </button>

            <span class="btn btn-success"
            
            > Save &rarr; </span>
</div> 