{% load crispy_forms_tags %}

            <h3> The Violation </h3>
            
            <form 
            hx-post= "{% url 'form_1' %}"
            >
            {% if errors %} {{errors}} {% endif %}
            
            {{form|crispy}}
          
        
        <div class="text-right mt-10  w-400 mw-full">
            <button class="btn btn-primary" disabled> &larr; Previous </button>
            <button 
            class="btn btn-primary"
            type= "submit">
            Next &rarr; </button>
        </div>


    </form>

    <div 
hx-trigger="load"
hx-target="#table"
hx-swap="outerHTML"
hx-get="{% url 'update_table' 0 %}"
>
</div>