<div class="content">
<h3> The Tenant(s) </h3>

        <div class="form-group content w-400 mw-full">
            <label for="tenant_name" class="required"> <strong> Enter the Name(s) of the Tenant(s) </strong> </label>
            <input 
            type="text" 
            class="form-control alt-dm" 
            placeholder="The Tenent(s) Name(s)"
            name = "tentant_name"
            id = "tentant_name"
            >
        </div>
        <div class="text-right mt-10 w-400 mw-full">
            <span  
            class="btn btn-primary"
            _= "on click show #form-4-holder then hide #form-5-holder"
            > &larr; Previous 
            </span>

            <span class="btn btn-primary"
            _= "on click show #form-6-holder then hide #form-5-holder"
            > Next &rarr; </span>
        </div>
</div>