{% load crispy_forms_tags %}
<div class="content">
<h3> The Tenant(s) </h3>

        <div class="content w-400 mw-full">
           {{form_5|crispy}}
        </div>
        <div class="text-right mt-10 w-400 mw-full">
            <button 
            type= "button" 
            class="btn btn-primary"
            _= "on click show #form-4-holder then hide #form-5-holder"
            > &larr; Previous 
            </button>

            <button 
            type= "button"class="btn btn-primary"
            id="next5"
            _= "on click show #form-6-holder then hide #form-5-holder"
            disabled
            > Next &rarr; </button>
        </div>
</div>