{% load crispy_forms_tags %}
<h3> Landlord's name </h3>

        <div class="content w-400 mw-full">
            {{form_2|crispy}}
            <div id="errors"> </div>
        </div>
        <div 
        class="text-right mt-10 w-400 mw-full">
            <button  
            type= "button" 
            class="btn btn-primary"
            _= "on click show #form-1-holder then hide #form-2-holder"
            > &larr; Previous 
            </button>

            <button class="btn btn-primary"
            id= "next2"
            type= "button" 
            disabled
            _= "on click show #form-3-holder then hide #form-2-holder"
            >  Next &rarr; </button>
        </div>
