<table class="table" id="table">

            <tbody>
            {% for title in title_list %}
                <tr> <td> 

                {% if selected_title == title %}
               <span class="hyperlink font-weight-bold" hx-get="/form-{{forloop.counter}}" hx-target="#form-holder"> 
                {{title}} </span>

                {% elif title == "Non-Compliance with The Lease" %}
                <span class="text-muted"> {{title}} </span>
                {% else %}
                <span class="hyperlink" hx-get="/form-{{forloop.counter}}" hx-target="#form-holder"> 
                {{title}} </span>
                {% endif %}
                
                </td></tr>
                {% endfor %}

            <tbody>
</table>